.navigation {
  .content {
    .logo {
      h4:hover {
        background-color: rgba(112, 248, 186, .25);
      }
    }
  }

  .menu {
    &.active {
      color: $primary;
      transition: color .3s;
    }
  }
}

.sidemenu {
  position: absolute;
  z-index: 5;
  top: 63px;
  width: 100%;
  max-height: 0;
  background-color: $tertiary;
  overflow: hidden;
  transition: max-height 0.15s ease-out;

  p {
    color: $secondary;
  }

  &.show {
    max-height: 100%;
    transition: max-height 0.25s ease-in;
  }
}