.home {
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .content {
    h1 {
      letter-spacing: 4px;
    }

    .typed {
      &-wrapper {

        h2 {
          display: inline-block;
        }
      }
    }
  }
}