.home {
  .content {
    position: relative;

    .info {
      width: 80%;
    }

    &::after {
      content: '';
      width: 50%;
      height: 95%;
      background-color: rgba(89, 131, 146, 0.07);
      border-radius: 50%;
      position: absolute;
      left: 25%;
      top: 0;     
      animation: bounce 5s infinite; 
    }
  }

}
