.projects {
  .content {
    overflow: hidden;
    margin: auto;
  }

  .project {
    position: absolute;
    top: 30%;
    left: 50%;
    border: 1px solid $primary;

    .inner-wrapper {
      background-color: $secondary;
    }

    &.creant {
      border-color: $creant-theme;
    }

    &.tomatobricks {
      border-color: $tomato-theme;
    }

    &.tutoraja {
      border-color: $tutoraja-theme;
    }

    &.ega-garment {
      border-color: $egagarment-theme;
    }

    &-wrapper {
      position: relative;

      .image-container {
        background-color: rgba(206, 75, 75, 0.2);
        width: 60%;

        img {
          width: 100%;
          object-fit: contain;
        }
      }
    }
  }

  .slick {
    &-slide {
      padding: 0 1rem;

      @media screen and (max-width: 576px) {
        padding: 0 .5rem;

        .mobile-wrapper {
          .image-container {
            img {
              width: 100%;
              object-fit: contain;
            }
          }

          .skill-wrapper {
            flex-wrap: wrap;
          }
        }
      }
    }

    &-dots {
      bottom: -3.5rem;
      
      li {
        display: inline-flex;
        width: .5rem;
        height: .5rem;
        justify-content: center;
        border-radius: 50%;
        background-color: $accent;
      
        button::before {
          content: '';
        }
      
        &.slick-active {
          border-radius: .5rem;
          width: 2rem;
          transition: all .5s;
          background-color: $primary;
        }
      }
    }
  }

  @media screen and (max-width: 576px) {
    padding: 0 !important;

    .col-12 { 
      padding: 0;
    }
  }
}