.utilities {
  
}

.splitbill {
  .form-member, .form-detail, .form-extra {
    input[type="text"] {
      width: 100%;
      font-size: .8333rem;
      color: $tertiary;
      border: 1px solid $primary;
      background: none;
      padding: .5rem;

      &:active, &:focus {
        outline: none;
      }
    }
  }

  .form-review {
    .detail {
      &-container {
        max-height: 50vh;
        overflow-y: auto;
      }

      &-item {
        .splitbill-member {
          &[data-letters]:before {
            width: 2rem;
            height: 2rem;
            line-height: 1.75rem;
          }
        }
  
        &[data-active="true"] {
          border: 1px solid $primary !important;
        }
      }
    }
  }

  &-member {
    &[data-letters]:before {
      content:attr(data-letters);
      display:inline-block;
      width: 2.5rem;
      height: 2.5rem;
      line-height: 2.25em;
      text-align: center;
      border-radius: 50%;
      vertical-align: middle;
      color: $primary;
      border: 1px solid $accent;
      text-transform: uppercase;
    }

    &[data-selected="true"]:before {
      border-color: $primary;
    }
  }
}