@keyframes bounce {
  0%, 100% {
      transform: scale(0.25);
  }
  50% {
      transform: scale(1.0);
  }
}

@keyframes fadeInfadeOut {
  0%, 100% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
}
