h1 {
  font-size: 3.583rem;
}

h2 {
  font-size: 2.074rem;
}

h3 {
  font-size: 1.728rem;
}

h4 {
  font-size: 1rem;
}

// h5 {
//   font-size: .833rem;
// }

// h6 {
//   font-size: .694rem;
// }

p {
  font-size: .8333rem;
}

small {
  font-size: .694rem;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-weight: 400;
  margin-bottom: 0;
}

a {
  color: inherit !important;
}

.slick {
  &-slide {
    padding: 0 1rem;
  }

  &-dots {
    bottom: -2.5rem;  
  }
}

.btn {
  &-sm {
    padding: .35rem .75rem;
  }
}