p {
  line-height: 1.75rem;
}

a {
  color: inherit !important;
}

hr {
  width: 100%;
  background-color: $light-accent !important;
}

.slick {
  &-slide {
    padding: 0 1rem;
  }

  &-dots {
    bottom: -2.5rem;  
  }
}
