h1, h2, h3, h4, h5, h6, p, a {
  font-weight: 300;
  margin-bottom: 0;
}

h1 {
  font-size: 3.583rem;
  font-weight: 400;
  letter-spacing: 4px;
}

h2 {
  font-size: 2.074rem;
  font-weight: 400;
}

h3 {
  font-size: 1.728rem;
  font-weight: 400;
  letter-spacing: 2px;
}

h4 {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 1px;
}

h5 {
  font-size: 1rem;
  letter-spacing: 1px;
}

p {
  font-size: .8333rem;
  letter-spacing: .75px;
}

small {
  font-size: .694rem;
}

a {
  color: inherit !important;
  text-decoration: none;
}

.page {
  position: relative;
  
  &>.content {
    position: relative;
    height: calc(100vh - 79px - 63px);
    width: 100%;
    padding: 2rem 0;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.slick {
  &-slide {
    padding: 0 1rem;
  }

  &-dots {
    bottom: -2.5rem;  
  }
}

.btn {
  &-sm {
    padding: .35rem .75rem;
  }

  &:focus {
    box-shadow: none;
  }
}


.tabs.nav-pills {
  border-bottom: 1px solid;

  .nav-item {
    padding: 0.5rem 3rem;

    &.active {
      background-color: inherit;
      color: $primary !important;
      border-bottom: 3px solid $primary;
      border-radius: 0;
    }
  }
}

.tabs~.tab-content {
  padding: 1rem 0;
}
