$primary: #70F8BA;
$secondary: #020617;
$tertiary: #FFFFFF;
$accent: #cbd5e1;

$creant-theme: #c7b8d9;
$tomato-theme: #ae1a1f;
$tutoraja-theme: #f4983d;
$egagarment-theme: #c62028;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1200px
);