@use 'variables' as vars;
@use 'external';
@use 'global';
// @use './containers';
@use './components';
// @use './animations';

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  background-color: vars.$secondary;
  font-family: 'Karla', sans-serif;
  color: vars.$accent;
}

::-webkit-scrollbar {
  background-color: transparent;

  &-thumb {
    background-color: rgba(226, 232, 240);
    opacity: 0.2;
    border-radius: 0.5rem;

    &:hover {
      background-color: #e2e8f0;
    }
  }
}
