@import './variables';
@import './font';
@import './global';

@import "~bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  background-color: $base;
  font-family: 'Poppins', sans-serif;
  color: $accent;
  background: linear-gradient(180deg, rgba(18,69,89,1) 65%, rgba(89,131,146,1) 100%);
}

@import './containers/';
@import './components/';