@import './variables';
@import './font';

@import "~bootstrap/scss/bootstrap";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  margin: 0;
  padding: 0;
  background-color: $secondary;
  font-family: 'Rubik', sans-serif;  
  color: $accent;
}

@import './global';
@import './containers/';
@import './components/';